:root {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.todo-grid, .todo-input {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    column-gap: 5%;
    row-gap: 5%;
    align-items: center;
}

.todo-input {
    margin-bottom: 5%;
    align-items: stretch;
}

.name-input, .due-date-input {
    font-size: 15px;
    padding: 10px;
}

.todo-button {
    background-color: green;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.todo-delete {
    background-color: darkred;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
}